footer {
    background-color: #6d3ce7;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}